#navbar .logo{
  float: none;
  text-align: center;
}
#navbar ul, #navbar ul li{
  float: none;
  text-align: center;
}
#navbar ul li a{
  padding:5px;
  border-bottom: #444 dotted 1px;
}

/* Home info */
#home_info .info_img{
  display: none;
}
#home_info .info_content{
  float: none;
  width: 100%;
}

.box{
  float: none;
  width: 100%;
}

/* About */
#about_info .info_right,
#about_info .info_left{
  float: none;
  width: 100%;
}

#about_info .info_right{
  margin-top:30px;
}
.l-heading{
  text-align: center;
}

/* Contact */

#contact_info .box{
  border-bottom: #444 dotted 1px;
}